.portfolio {
  color: #fff;
}

.portfolio__title {
  margin: 0;
  padding-bottom: 50px;
  color: #8b8b8b;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.portfolio__list {
  list-style-type: none;
  margin: 0 0 125px 0;
  padding: 0;
}

.portfolio__list-item {
  padding-bottom: 19px;
  border-bottom: #424242 2px solid;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.portfolio__list-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__list-item:nth-child(even) {
  margin: 20px 0;
}

.portfolio__link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-decoration: none;
  color: #fff;
}

.portfolio__link-logo {
  min-height: 29px;
  min-width: 29px;
  background-image: url(../../../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.portfolio__name {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 800px) {
  .portfolio__name {
    font-size: 28px;
  }
  .portfolio__list {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 500px) {
  .portfolio__name {
    font-size: 18px;
    line-height: 28px;
  }
  .portfolio__link-logo {
    min-height: 18px;
    min-width: 18px;
  }
  .portfolio__title {
    padding-bottom: 40px;
  }
  .portfolio__list {
    margin-bottom: 70px;
  }
}
