.auth {
  height: 100%;
  align-items: center;
  display: flex;
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.auth__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 396px;
  max-height: 560px;
}

.auth__form {
  height: 100%;
  min-width: 396px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth__formBlock {
  display: flex;
  flex-direction: column;
}

.auth__btn-save {
  align-self: center;
  width: 100%;
  max-width: 396px;
  height: 45px;
  background-color: #4285f4;
  border: none;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
  transition: linear 0.3s;
}

.auth__btn-save:disabled {
  background-color: #C2C2C2;
}

.auth__field {
  outline: none;
  border: none;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: #202020;
}

.auth__field_underline {
  padding: 0 0 10px 0;
  vertical-align: middle;
  border-bottom: 2px solid #424242;
  box-sizing: border-box;
}

.auth__field::placeholder {
  color: #202020;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

.auth__field:autofill,
.auth__field:autofill:hover,
.auth__field:autofill:focus,
.auth__field:autofill:active {
  outline: none !important;
  box-shadow: 0 0 0 30px #202020 inset !important;
  color: #ccc !important;
}

.auth__field:-webkit-autofill,
.auth__field:-webkit-autofill:hover,
.auth__field:-webkit-autofill:focus,
.auth__field:-webkit-autofill:active {
  outline: none !important;
  -webkit-box-shadow: 0 0 0 30px #202020 inset !important;
  box-shadow: 0 0 0 30px #202020 inset !important;
  -webkit-text-fill-color: #ccc !important;
}

.auth__login-link {
  margin-left: 6px;
  color: #4285f4;
  text-decoration: none;
}

.auth__login-text {
  margin: 16px 0 0;
  text-align: center;
  color: #8b8b8b;
}

.auth__title {
  margin: 40px 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.input-error {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  min-height: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  align-self: end;
}

.auth__input-label {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  padding-bottom: 5px;
}

@media screen and (max-width: 500px) {
  .auth__form {
    min-width: 260px;
  }
  .auth__container {
    max-width: 260px;
  }
}


@media screen and (max-width: 340px) {
  .auth__title {
    font-size: 24px;
    line-height: 29px;
    margin: 50px 0 80px;
    align-self: center;
  }
  .header__logo_auth {
    margin: 0;
    align-self: center;
  }
  .auth__container {
    max-height: 694px;
  }
}
