.footer {
  width: 100%;
  max-width: 1280px;
  padding: 0 70px;
  color: #fff;
  box-sizing: border-box;
}

.footer__text {
  margin: 0;
  padding: 79px 0 20px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
  border-bottom: #424242 2px solid;
}

.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__container {
  padding: 10px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__social_footer {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__nav {
  display: flex;
  align-items: center;
}

.footer__toTopBtn {
  position: fixed;
  right: -76px;
  bottom: 10px;
  width: 38px;
  height: 38px;
  background-image: url(../../images/logoTop.svg);
  background-repeat: no-repeat;
  -webkit-transition: right 0.9s;
  -moz-transition: right 0.9s;
  transition: all 0.5s;
  -webkit-transform: translateX(-38px);
  -moz-transform: translateX(-38px);
  transform: translateX(-38px);
}

.footer__toTopBtn_visible {
right: -46px;
}

@media screen and (max-width: 800px) {
  .footer {
    padding: 0 30px;
  }
}

@media screen and (max-width: 720px) {
  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 30px 0 10px;
  }
  .profile__social_footer {
    padding-right: 0;
    padding-bottom: 12px;
  }
  .profile__social_footer:last-child {
    padding-bottom: 0;
  }
  .footer__nav {
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
}
