.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 100px;
  color: #fff;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 66px;
}

.profile__info {
  display: flex;
  flex-direction: column;
}

.profile__subtitle {
  margin: 0;
  padding: 18px 0 26px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.profile__text {
  margin: 0;
  padding-bottom: 99px;
  max-width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.profile__photo {
  max-width: 270px;
  align-self: flex-start;
  border-radius: 10px;
  padding-left: 20px;
}

.profile__social {
  padding-right: 20px;
}

.profile__social:last-child {
  padding-right: 0;
}

@media screen and (max-width: 800px) {
  .aboutMe {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .profile__photo {
    align-self: center;
    max-width: 292px;
    padding-left: 42px;
    margin-bottom: 40px;
  }

  .section__title {
    font-size: 30px;
    line-height: 36px;
  }
  .profile__subtitle {
    font-size: 11px;
    line-height: 16px;
    padding: 20px 0;
  }
  .profile__text {
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 40px;
  }
  .profile__social {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 700px) {
  .profile {
    flex-direction: column-reverse;
  }
  .profile__photo {
    padding-left: 0;
  }
  .profile__social {
    padding-right: 10px;
}
.aboutMe {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
