@import url(./vendor/normalize.css);
@import url(./fonts/inter.css);

body {
  max-width: 1280px;
  background-color: #202020;
  padding: 0;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

.app__btn {
  padding: 0;
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: linear 0.3s;
  text-decoration: none;
}

.app__btn-opacity:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: linear 0.3s;
}

.section__heading {
  width: 100%;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 0;
  padding-bottom: 23px;
  color: #fff;
  border-bottom: #dadada 2px solid;
}

.input-error_auth {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  margin: 5px 0 9px 0;
  max-height: 30px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.section__title {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.block__hide {
  display: none;
}

.section {
  max-width: 1280px;
  width: 100%;
  padding: 0 70px;
  box-sizing: border-box;
}

.section_height {
  height: 100vh;
}

@media screen and (max-width: 1070px) {
  .section {
    padding: 0 50px;
  }
}

@media screen and (max-width: 700px) {
  .section {
    padding: 0 14px;
  }
  .section__heading {
    padding-bottom: 28px;
  }
}